.card{
    border: 1px solid rgb(158, 155, 155);
    border-radius: 4px;
    width: 250px;
    /* height: 260px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.cardThumbnail{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.cardBody{
    padding: 5px;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.instructor {
  font-size: 0.9rem;
  color: #666;
  /* margin-bottom: 0.75rem; */
}

.price {
  font-size: 1rem;
  font-weight: bold;
}
.editButton{
  /* background-color: #5022c3;
   */
   background-color: rgb(43, 42, 42);
  margin-top: 3px;
}

.stats{
  display: flex;
  gap: 7px;
  margin-bottom: 5px;
}
