.card{
    border: 1px solid rgb(158, 155, 155);
    border-radius: 4px;
    width: 260px;
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  transition: 0.3s ease;
  
}

.card:hover{
  transform: scale(1.02);
}

.thumbnailWrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playIcon{
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;

}
.thumbnailWrapper:hover .playIcon {
  opacity: 1;
}

.cardThumbnail{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.cardThumbnail:hover{
  opacity: 0.7;
}

.cardBody{
    padding: 5px;
}

.title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
}

.instructor {
  font-size: 0.9rem;
  color: #666;
  /* margin-bottom: 0.75rem; */
}